
@if variable-exists('html') {
  html {
    overflow: hidden;
  }

  body {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100vw;
    background-color: $background;
  }

  @keyframes bg-scrolling {
    0% { background-position: 60px 60px; }
  }
}
