// /**
//  *
//  */

.#{map-get($bemit, 'object')}main {
  $_main: &;

  @extend %full-block;

  width: 100vw;
  height: if(map-has-key($header, 'height'), calc(100vh - #{map-get($header, 'height')}px), 100vh);
  padding: #{$padding * 2}px;
}
