// /**
//  *
//  */

.#{map-get($bemit, 'object')}page {
  $_page: &;

  @if (map-has-key($page, 'contained') and map-get($page, 'contained') == true) {
    top: #{$padding * 2}px;
    left: #{$padding * 2}px;
    right: #{$padding * 2}px;
    bottom: #{$padding * 2}px;
    position: absolute;

    width: calc(100% - #{$padding * 4}px);
    height: calc(100% - #{$padding * 4}px);

    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid $primary;

    @media (min-width: #{map-get($break-points, 'md')}px) {
      overflow-y: hidden;

      $container: '.#{map-get($bemit, 'object')}container';

      &__face,
      #{$container},
      #{$container}__row {
        height: 100%;
      }

      &__content {
        max-height: 100%;
        overflow-y: auto;
      }
    }
  }

  transition: transform #{$transition-time * 4};

  background: $background;

  &__face {
    width: 100%;
    backface-visibility: hidden;

    &#{&}--front {
      padding: #{$padding * 2}px;
      background: $background;
    }

    &#{&}--back {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: $background;
      position: absolute;
      transform: rotateY(180deg);
    }
  }
}
